---
import CategoryTitle from "./CategoryTitle.astro";
import CategorySectionTitle from "./CategorySectionTitle.astro";
import ExampleCard from "./ExampleCard.astro";
import { createLocalT } from "../../lib/i18n";
import en from "./LinkTests.lang.en";
import ja from "./LinkTests.lang.ja";

interface Props {
  lang?: string;
}
const lang = (Astro.props as Props).lang || "en";
const t = createLocalT(lang === "ja" ? ja : en, en);

const linkClasses =
  "text-teal-700 dark:text-teal-400 underline cursor-pointer hover:text-teal-800 dark:hover:text-teal-300";
---

<CategoryTitle id="links">{t("title")}</CategoryTitle>
<p class="text-zinc-700 dark:text-zinc-300 mb-6">{t("intro")}</p>

<CategorySectionTitle id="a-element"
  >{t("sections.aElement.title")}</CategorySectionTitle
>

<ExampleCard
  title={t("examples.a.standard.title")}
  description={t("examples.a.standard.desc")}
>
  <a href="http://example.com" class={linkClasses}> Click Me </a>
</ExampleCard>

<ExampleCard
  title={t("examples.a.noHref.title")}
  description={t("examples.a.noHref.desc")}
>
  <a class={linkClasses}>Click Me</a>
</ExampleCard>

<CategorySectionTitle id="link-role"
  >{t("sections.linkRole.title")}</CategorySectionTitle
>

<ExampleCard
  title={t("examples.role.withRole.title")}
  description={t("examples.role.withRole.desc")}
>
  <span role="link" class={linkClasses} tabindex="0"> Click Me </span>
</ExampleCard>

<ExampleCard
  title={t("examples.role.noTabindex.title")}
  description={t("examples.role.noTabindex.desc")}
>
  <span role="link" class={linkClasses}> Click Me </span>
</ExampleCard>

<CategorySectionTitle id="link-variations"
  >{t("sections.variations.title")}</CategorySectionTitle
>

<ExampleCard
  title={t("examples.variations.targetBlank.title")}
  description={t("examples.variations.targetBlank.desc")}
>
  <a
    href="http://example.com"
    target="_blank"
    rel="noopener noreferrer"
    class={linkClasses}
  >
    Opens in new tab
  </a>
</ExampleCard>

<CategorySectionTitle id="icon-links"
  >{t("sections.iconLinks.title")}</CategorySectionTitle
>

<ExampleCard
  title={t("examples.icons.onlyIcon.title")}
  description={t("examples.icons.onlyIcon.desc")}
>
  <a
    href="http://example.com"
    class="inline-block text-teal-700 dark:text-teal-400"
  >
    <svg width="24" height="24" viewBox="0 0 20 20" fill="currentColor">
      <path
        fill-rule="evenodd"
        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
        clip-rule="evenodd"></path>
    </svg>
  </a>
</ExampleCard>

<ExampleCard
  title={t("examples.icons.withAriaLabel.title")}
  description={t("examples.icons.withAriaLabel.desc")}
>
  <a
    href="http://example.com"
    class="inline-block text-teal-700 dark:text-teal-400"
  >
    <svg
      width="24"
      height="24"
      viewBox="0 0 20 20"
      fill="currentColor"
      role="img"
      aria-label="Go to external site"
    >
      <path
        fill-rule="evenodd"
        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
        clip-rule="evenodd"></path>
    </svg>
  </a>
</ExampleCard>

<ExampleCard
  title={t("examples.icons.emptyText.title")}
  description={t("examples.icons.emptyText.desc")}
>
  <a
    href="http://example.com"
    class="inline-block w-20 h-8 bg-teal-600 rounded border-red-300 border-2"
  ></a>
</ExampleCard>
